body {
  width: 40%;
  margin: 0 auto;
  font-size: 1em;
  font-family: Garamond,Verdana,Helvetica,sans-serif;
}

html {
  background-color: #FFFFFF;
}
/*
main, footer {
  background-color: gray;
    border-radius: 10px;
  padding: 10px;
  margin-top: 2em;
}
*/
p {
  line-height: 1.5em;
}

nav li {
  font-family: Calibri;
  list-style: none;
  display: inline;
}

h1.name {
  text-align: center;
}

h2 {
  font-family: Georgia;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:hover {
  color: #C499AC;
}

footer li {
  margin-right: 2em;
  list-style:none;
  display: inline-block;
  float: left;
}

footer ul {
    list-style:none;
    padding-left:0;
}

footer {
  border-top: solid gray .15em;
}

.copyright {
}

.profile {
  max-width: 200px;
  float: right;
  margin: 15px;
  border-radius: 100%;
}

.car {
  max-width: 170px;
  float: left;
  margin: 15px;
}

.social {
  max-width: 64px;
  max-height: 64px;
}


footer p {
  float: right;
  margin-top: 2em;
}